{% extends "master.html.twig" %}

{% block title %}Access Denied{% endblock %}

{% block content %}

    <p>Access denied.
        <a href="/login">login</a> or 
        <a href="/register">register</a>
    </p>



{% endblock %}
