{% extends "master.html.twig" %}

{% block title %}Success - Book added{% endblock %}

{% block content %}

<div class="productView">
    <h3>Success</h3>
    <img src="/item/{{itemId}}/image" alt="the image for a book" width="200">
</div>

{% endblock %}
