{% extends "master.html.twig" %}

{% block title %}Login{% endblock %}


{% block content %}

    {% if error %}    
        <p class="error">Login credentials invalid<br>
            Try again or <a href="/register">register</a></p>
    {% endif %}

    <form method="post">
        Email:  <input type="email" name="email" value={{v.email}}><br />
        password: <input type="password" name="password" value="Ja1Ja1Ja1"><br />
        <input type="submit" value="Login">
        
    </form>

{% endblock content %}

