body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    max-width: 960px;
    margin: auto;
}

#centeredContent {
    margin: 0 auto;
    padding: 20px;
    width: 720px; 
    background-color: white;
    opacity: 1.0;
}

.error {
    font-weight: bold;
    background-color: yellow;
    color: red;
}


body {
  background-image: url("library.png");
  opacity: 0.85;
  background-repeat: no-repeat;
  background-size: cover;  
} 

